footer {
  background-color: rgb(39, 39, 39);
  color: white;
}
footer ul {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0;
}
footer li {
  list-style: none;
  color: white;
}
footer li a {
  color: white;
}
footer h3 {
  margin-top: 0;
  font-family: "Shrikhand", cursive;
}

@media screen and (min-width: 768px) {
  footer {
    padding-bottom: 20px;
    text-align: center;
  }
  footer > ul {
    flex-direction: row;
    justify-content: space-around;
  }
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro > input {
  border: 0px;
  text-align: center;
  background-color: #F2F2F2;
  width: 100%;
  height: 35px;
}

.main_accueil {
  box-shadow: 0px -4px 0px -1px rgba(111, 111, 111, 0.43);
  margin-top: 2px;
}

.titre_page {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.titre_page > h1 {
  font-family: "Shrikhand", cursive;
}
.titre_page > a {
  text-align: start;
  position: absolute;
  left: 2px;
  font-size: 20px;
}

.titre_intro {
  width: 100%;
  box-shadow: 0px 4px 0px -1px rgba(111, 111, 111, 0.43);
  display: flex;
  justify-content: center;
  margin-bottom: 2px;
}
.titre_intro > h1 {
  font-family: "Shrikhand", cursive;
}

.fleche_retour {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .intro {
    flex-direction: row;
  }
  .intro > input {
    height: 50px;
    border: 1px solid grey;
    margin-left: 15px;
  }
  .titre_intro {
    box-shadow: none;
    width: 30%;
  }
}
.acceuil {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.acceuil .accueil_fonctionnement {
  display: flex;
  flex-direction: column;
}
.acceuil .btn_choix {
  position: relative;
  margin: 35px;
  border: 1px solid #F2F2F2;
  border-radius: 10px;
  background-color: #F2F2F2;
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 15px;
}
.acceuil .btn_choix:hover {
  background-color: rgba(146, 86, 220, 0.3960784314);
}
.acceuil .btn_choix .fa-circle-1 {
  color: rgba(146, 86, 220, 0.3960784314);
}
.acceuil .btn_choix > h4 {
  position: absolute;
  left: -15px;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: #9356DC;
  display: flex;
  align-items: center;
  justify-content: center;
}
.acceuil .btn1 {
  list-style-type: none;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .btn_choix {
    margin: 0px;
  }
  .main_accueil {
    display: flex;
  }
  .acceuil {
    width: 31%;
  }
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

.restaurant {
  display: flex;
  background-color: #F2F2F2;
}
.restaurant .restaurant_choix {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.restaurant .restaurant_carte {
  position: relative;
  text-align: start;
  margin: 20px;
  border: none;
  border-radius: 25px;
  background-color: white;
  box-shadow: 4px 5px 9px 3px rgba(111, 111, 111, 0.45);
}
.restaurant img {
  height: 150px;
  width: 100%;
  border: 0px solid;
  border-radius: 25px 25px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant span {
  position: absolute;
  text-align: center;
  left: 70%;
  top: 5%;
  width: 25%;
  height: 20px;
  background-color: #99E2D0;
  color: #15352d;
}
.restaurant .restaurant_legend {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
}
.restaurant .restaurant_text {
  display: flex;
  flex-direction: column;
}
.restaurant .restaurant_text > h3 {
  margin-bottom: 0;
}
.restaurant .restaurant_text > p {
  margin-top: 5px;
}
.restaurant .restaurant_coeur {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .restaurant {
    width: 100%;
  }
  .restaurant_selection {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
  }
  .restaurant_selection img {
    height: 150px;
  }
  ._carte {
    width: 40%;
  }
  .restaurant_choix {
    text-align: center;
  }
}
.proposition {
  display: flex;
  flex-direction: column;
}
.proposition h2 {
  font-family: "Shrikhand", cursive;
}
.proposition img {
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
.proposition .plan {
  background-color: #F2F2F2;
  border-radius: 25px 25px 0px 0px;
  display: flex;
  margin-top: -25px;
  flex-direction: column;
  align-items: center;
}
.proposition .plan .titre {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.proposition .plan .titre > p {
  position: relative;
}
.proposition .plan .titre > p:before {
  content: "";
  position: absolute;
  width: 50%;
  margin-top: 20px;
  border-bottom: 3px solid #99E2D0;
}
.proposition .packshot {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.detail_carte {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.detail_carte .detail_complet {
  display: flex;
  align-items: center;
  box-shadow: 4px 4px 12px -3px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  margin: 10px 0px 10px 0px;
}
.detail_carte .detail_plus {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  background-color: white;
  width: 100%;
  overflow: hidden;
}
.detail_carte .text {
  width: 100%;
  white-space: nowrap;
}
.detail_carte .text > h4 {
  margin-top: 5px;
}
.detail_carte .composition {
  display: flex;
  justify-content: space-between;
}
.detail_carte .composition > p {
  margin: 1px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 70%;
}

.detail_chekbox {
  background: #99e2d0;
  cursor: pointer;
  height: auto;
  border-radius: 0px 10px 10px 0px;
  padding: 25px 20px 25px 20px;
  margin-right: -56px;
}

.fa-circle-check {
  color: white;
}

@media screen and (min-width: 768px) {
  .detail_carte {
    display: flex;
    flex-direction: row;
  }
  .detail_complet {
    width: 25%;
  }
  .titre {
    margin-left: 50px;
  }
}
.button {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.button input {
  border: none;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  color: white;
  font-size: 18px;
  border-radius: 25px;
  text-align: center;
  height: 50px;
  width: 250px;
}

._menu > input {
  border: none;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  color: white;
  font-size: 18px;
  border-radius: 25px;
  text-align: center;
  height: 50px;
  width: 250px;
}
._menu > input input:hover {
  background-image: linear-gradient(0deg, rgba(146, 86, 220, 0.5568627451), rgba(255, 121, 217, 0.5333333333));
}

@-webkit-keyframes deroulant {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes deroulant {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes loader {
  0% {
    opacity: 0%;
    visibility: hidden;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes loader {
  0% {
    opacity: 0%;
    visibility: hidden;
  }
  100% {
    opacity: 100%;
  }
}
.detail_complet:hover .detail_chekbox {
  transform: translateX(-55px);
  transition: 0.5s;
}

.detail_complet:hover span {
  transform: translateX(-60px);
  transition: 0.5s;
}

.detail_complet:hover .fa-circle-check {
  transform: rotate(355deg) scale(1.75);
  transition: 1s;
}

.boite_1 {
  -webkit-animation: deroulant 1s ease-in-out 0s 1 normal forwards;
          animation: deroulant 1s ease-in-out 0s 1 normal forwards;
}

.boite_1 {
  -webkit-animation: deroulant 1.2s ease-in-out 0s 1 normal forwards;
          animation: deroulant 1.2s ease-in-out 0s 1 normal forwards;
}

.boite_2 {
  -webkit-animation: deroulant 1.4s ease-in-out 0s 1 normal forwards;
          animation: deroulant 1.4s ease-in-out 0s 1 normal forwards;
}

.boite_3 {
  -webkit-animation: deroulant 1.6s ease-in-out 0s 1 normal forwards;
          animation: deroulant 1.6s ease-in-out 0s 1 normal forwards;
}

.boite_4 {
  -webkit-animation: deroulant 1.8s ease-in-out 0s 1 normal forwards;
          animation: deroulant 1.8s ease-in-out 0s 1 normal forwards;
}

.boite_5 {
  -webkit-animation: deroulant 2s ease-in-out 0s 1 normal forwards;
          animation: deroulant 2s ease-in-out 0s 1 normal forwards;
}

.boite_6 {
  -webkit-animation: deroulant 2.2s ease-in-out 0s 1 normal forwards;
          animation: deroulant 2.2s ease-in-out 0s 1 normal forwards;
}

.boite_7 {
  -webkit-animation: deroulant 2.4s ease-in-out 0s 1 normal forwards;
          animation: deroulant 2.4s ease-in-out 0s 1 normal forwards;
}

.boite_8 {
  -webkit-animation: deroulant 2.6s ease-in-out 0s 1 normal forwards;
          animation: deroulant 2.6s ease-in-out 0s 1 normal forwards;
}

.boite_9 {
  -webkit-animation: deroulant 2.8s ease-in-out 0s 1 normal forwards;
          animation: deroulant 2.8s ease-in-out 0s 1 normal forwards;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

img {
  width: 100%;
}

.fa-heart {
  font-size: 25px;
}

.color {
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  opacity: 0;
  position: absolute;
}

.black {
  position: absolute;
}

.black:hover {
  opacity: 0;
}

.color:hover {
  opacity: 1;
}

.icone {
  position: relative;
  right: 30px;
  bottom: 10px;
}

.restaurant_coeur {
  position: relative;
  right: 30px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #99E2D0;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 100;
  -webkit-animation: fadeout 0.2s 3s forwards;
          animation: fadeout 0.2s 3s forwards;
}

.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  margin: 10px;
  -webkit-animation: wave 2.5s linear forwards;
          animation: wave 2.5s linear forwards;
  border-radius: 20px;
}

.wave:nth-child(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.wave:nth-child(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.wave:nth-child(4) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.wave:nth-child(5) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.wave:nth-child(6) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.wave:nth-child(7) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.wave:nth-child(8) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.wave:nth-child(9) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.wave:nth-child(10) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

@-webkit-keyframes wave {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes wave {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@-webkit-keyframes fadeout {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    visibility: hidden;
  }
}
@keyframes fadeout {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    visibility: hidden;
  }
}/*# sourceMappingURL=style.css.map */