@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
footer {
  background-color: rgb(39, 39, 39);
  color: white;
  padding-top: 20px;
  padding-bottom: 30px;
}
footer ul {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0;
}
footer li {
  list-style: none;
  color: white;
  margin: 5px 0px 5px 0px;
}
footer li a {
  color: white;
}
footer h3 {
  margin-top: 0;
  margin-left: 40px;
  font-family: "Shrikhand", cursive;
}
footer .fa-handshake-angle {
  margin-right: 10px;
}
footer .fa-utensils {
  margin-right: 17px;
}

@media screen and (min-width: 994px) {
  footer {
    padding-bottom: 20px;
    text-align: center;
  }
  footer > ul {
    flex-direction: row;
    justify-content: space-around;
  }
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro .localisation {
  padding-top: 10px;
  border: 0px;
  text-align: center;
  background-color: #F2F2F2;
  width: 100%;
  height: 40px;
}
.intro .fa-location-dot {
  margin-right: 10px;
}

.main_accueil {
  margin-top: 2px;
}

.titre_page {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.titre_page > h1 {
  font-family: "Shrikhand", cursive;
}
.titre_page > a {
  text-align: start;
  position: absolute;
  left: 2px;
  font-size: 20px;
}

.titre_intro {
  width: 100%;
  box-shadow: 0px 4px 0px -1px rgba(111, 111, 111, 0.43);
  display: flex;
  justify-content: center;
  margin-bottom: 2px;
}
.titre_intro > h1 {
  font-family: "Shrikhand", cursive;
}

.fleche_retour {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 994px) {
  .intro .localisation {
    height: 50px;
    padding-top: 15px;
    background-color: #99E2D0;
    opacity: 0.75;
  }
  .titre_intro {
    box-shadow: none;
  }
}
.acceuil {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.acceuil .accueil_fonctionnement {
  display: flex;
  flex-direction: column;
}
.acceuil .btn_choix {
  position: relative;
  margin: 35px;
  border: 1px solid #F2F2F2;
  border-radius: 10px;
  background-color: #F2F2F2;
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 15px;
  box-shadow: 4px 5px 9px 3px rgba(111, 111, 111, 0.45);
}
.acceuil .btn_choix:hover {
  background-color: rgba(146, 86, 220, 0.3960784314);
}
.acceuil .btn_choix .fa-circle-1 {
  color: rgba(146, 86, 220, 0.3960784314);
}
.acceuil .btn_choix > h4 {
  position: absolute;
  left: -15px;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: #9356DC;
  display: flex;
  align-items: center;
  justify-content: center;
}
.acceuil .btn1 {
  list-style-type: none;
  padding: 0;
}

@media screen and (min-width: 994px) {
  .btn_choix {
    margin: 0px;
  }
  .main_accueil {
    display: flex;
  }
  .acceuil {
    width: 31%;
  }
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

.restaurant {
  display: flex;
  background-color: #F2F2F2;
}
.restaurant .restaurant_choix {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.restaurant .restaurant_carte {
  position: relative;
  text-align: start;
  margin: 20px;
  border: none;
  border-radius: 25px;
  background-color: white;
  box-shadow: 4px 5px 9px 3px rgba(111, 111, 111, 0.45);
}
.restaurant img {
  height: 150px;
  width: 100%;
  border: 0px solid;
  border-radius: 25px 25px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant span {
  position: absolute;
  text-align: center;
  left: 70%;
  top: 5%;
  width: 25%;
  padding-top: 5px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #99E2D0;
  background-color: #99E2D0;
  color: #278870;
  font-weight: bold;
}
.restaurant .restaurant_legend {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
}
.restaurant .restaurant_text {
  display: flex;
  flex-direction: column;
}
.restaurant .restaurant_text > h3 {
  margin-bottom: 0;
}
.restaurant .restaurant_text > p {
  margin-top: 5px;
}
.restaurant .restaurant_coeur {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 994px) {
  .restaurant {
    width: 100%;
  }
  .restaurant_selection {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
  }
  .restaurant_selection img {
    height: 169px;
  }
  .restaurant_choix {
    text-align: center;
  }
  ._carte {
    width: 45%;
  }
}
.proposition {
  display: flex;
  flex-direction: column;
}
.proposition h2 {
  font-family: "Shrikhand", cursive;
}
.proposition img {
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
.proposition .plan {
  background-color: #F2F2F2;
  border-radius: 25px 25px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -25px 0px 0px 0px;
}
.proposition .plan .titre {
  display: flex;
  justify-content: flex-start;
  width: 80%;
}
.proposition .plan .titre > p {
  position: relative;
}
.proposition .plan .titre > p:before {
  content: "";
  position: absolute;
  width: 50%;
  margin-top: 20px;
  border-bottom: 3px solid #99E2D0;
}
.proposition .packshot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.detail_carte {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fa-circle-check {
  color: white;
}

.detail_complet {
  display: flex;
  background-color: white;
  border-radius: 15px;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 4px 4px 12px -3px rgba(0, 0, 0, 0.75);
  margin: 10px 30px 10px 30px;
}

.composition {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.composition > h4 {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 4px;
}
.composition > p {
  margin: 0px 0px 10px 10px;
}
.composition .test {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.detail_plus {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.anim {
  display: flex;
  justify-content: space-around;
}
.anim > span {
  display: flex;
  align-items: flex-end;
  margin: 0px 20px 10px 5px;
}

.detail_chekbox {
  background: #99E2D0;
  cursor: pointer;
  height: auto;
  border-radius: 0px 10px 10px 0px;
  padding: 20px 20px 20px 20px;
  margin-right: -60px;
}

@media screen and (min-width: 994px) {
  .detail_carte {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .detail_complet {
    width: 25%;
  }
  .titre {
    display: flex;
    align-items: flex-start;
    width: 100%;
  }
  .quatre {
    flex-wrap: wrap;
  }
  .special {
    margin-right: 1px;
  }
}
.button {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.button > .bouton {
  border: none;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  color: white;
  font-size: 18px;
  border-radius: 25px;
  text-align: center;
  height: 50px;
  width: 250px;
  box-shadow: 4px 5px 9px 3px rgba(111, 111, 111, 0.45);
}
.button > .bouton:hover {
  opacity: 0.65;
  box-shadow: 4px 5px 9px 3px rgba(51, 51, 51, 0.89);
}

._menu > input {
  border: none;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  color: white;
  font-size: 18px;
  border-radius: 25px;
  text-align: center;
  height: 50px;
  width: 250px;
  box-shadow: 4px 5px 9px 3px rgba(111, 111, 111, 0.45);
}
._menu > input:hover {
  opacity: 0.75;
}

@keyframes deroulant {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes loader {
  0% {
    opacity: 0%;
    visibility: hidden;
  }
  100% {
    opacity: 100%;
  }
}
.detail_plus:hover .anim {
  transform: translateX(-56px);
  transition: 0.5s;
}
.detail_plus:hover .composition {
  width: 68%;
}
.detail_plus:hover .test {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.detail_complet:hover .fa-circle-check {
  transform: rotate(355deg) scale(1.75);
  transition: 0.5s;
}

.boite_1 {
  animation: deroulant 1s ease-in-out 0s 1 normal forwards;
}

.boite_1 {
  animation: deroulant 1.2s ease-in-out 0s 1 normal forwards;
}

.boite_2 {
  animation: deroulant 1.4s ease-in-out 0s 1 normal forwards;
}

.boite_3 {
  animation: deroulant 1.6s ease-in-out 0s 1 normal forwards;
}

.boite_4 {
  animation: deroulant 1.8s ease-in-out 0s 1 normal forwards;
}

.boite_5 {
  animation: deroulant 2s ease-in-out 0s 1 normal forwards;
}

.boite_6 {
  animation: deroulant 2.2s ease-in-out 0s 1 normal forwards;
}

.boite_7 {
  animation: deroulant 2.4s ease-in-out 0s 1 normal forwards;
}

.boite_8 {
  animation: deroulant 2.6s ease-in-out 0s 1 normal forwards;
}

.boite_9 {
  animation: deroulant 2.8s ease-in-out 0s 1 normal forwards;
}

.boite_10 {
  animation: deroulant 1.7s ease-in-out 0s 1 normal forwards;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0px;
}

img {
  width: 100%;
}

.fa-heart {
  font-size: 30px;
}

.icone {
  position: relative;
  right: 20px;
}

.restaurant_coeur {
  position: relative;
  right: 20px;
}

.fa-regular {
  position: absolute;
}

.remplissage {
  opacity: 0;
  color: transparent;
  position: relative;
}

.remplissage:hover {
  opacity: 1;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  transition: all 0.5s ease-in-out;
  transform: scale(1);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #99E2D0;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 100;
  animation: fadeout 0.2s 3s forwards;
}

.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  margin: 10px;
  animation: wave 2.5s linear forwards;
  border-radius: 20px;
}

.wave:nth-child(2) {
  animation-delay: 0.1s;
}

.wave:nth-child(3) {
  animation-delay: 0.2s;
}

.wave:nth-child(4) {
  animation-delay: 0.3s;
}

.wave:nth-child(5) {
  animation-delay: 0.4s;
}

.wave:nth-child(6) {
  animation-delay: 0.5s;
}

.wave:nth-child(7) {
  animation-delay: 0.6s;
}

.wave:nth-child(8) {
  animation-delay: 0.7s;
}

.wave:nth-child(9) {
  animation-delay: 0.8s;
}

.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@keyframes fadeout {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    visibility: hidden;
  }
}/*# sourceMappingURL=style.css.map */