@import "../abstract/variables";

footer{
    background-color: $couleur-footer;
    color: white;
    ul{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin: 0;
    }
    li{
        list-style: none;
        color:  white;
        a{
            color: white;
        }  
    }
    h3{
        margin-top: 0;
        font-family: 'Shrikhand', cursive;
    }
}

@media screen and (min-width: 768px) {
    
    footer{
        padding-bottom: 20px;
        text-align: center;
        >ul{
            flex-direction: row;
            justify-content: space-around;
        }
    }
}