@import "../abstract/variables";

footer{
    background-color: $couleur-footer;
    color: white;
    padding-top: 20px;
    padding-bottom: 30px;
    ul{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin: 0;
    }
    li{
        list-style: none;
        color:  white;
        margin: 5px 0px 5px 0px;
        a{
            color: white;
        }  
    }
    h3{
        margin-top: 0;
        margin-left: 40px;
        font-family: 'Shrikhand';
    }
    .fa-handshake-angle{
        margin-right: 10px;
    }
    .fa-utensils{
        margin-right: 17px;
    }
}

@media screen and (min-width: 994px) {
    
    footer{
        padding-bottom: 20px;
        text-align: center;
        >ul{
            flex-direction: row;
            justify-content: space-around;
        }
    }
}