footer{
    background-color: rgb(39, 39, 39);
    color: white;
    height: 150px;
    padding: 1rem;
    ul{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    li{
        list-style: none;
        color:  white;
    }
    h4{
        font-family: 'Shrikhand', cursive;
    }
}
