@import "../abstract/variables";
.acceuil {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .accueil_fonctionnement{
        display: flex;
        flex-direction: column;
    }
    .btn_choix{
        position: relative;
        margin: 35px;
        border: 1px solid #F2F2F2;
        border-radius: 10px;
        background-color: #F2F2F2;
        width: 250px;
        height: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-left: 15px;
        &:hover{
            background-color: #9256dc65 ;
        }
        .fa-circle-1{
            color: #9256dc65;
        }
        >h4{
            position: absolute;
            left: -15px;
            width: 25px;
            height: 25px;
            border-radius: 25px;
            background-color:  $couleur-primaire;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .btn1{
        list-style-type: none;
        padding: 0;
    }
}

@media screen and (min-width: 994px) {

     .btn_choix{
        margin: 0px;
     }

     .main_accueil{
        display: flex;
     }

     .acceuil + {
        width: 31%;
     }

}