.acceuil {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .accueil_fonctionnement{
        display: flex;
        flex-direction: column;
    }
    .btn_choix{
        margin: 35px;
        border: 1px solid #F2F2F2;
        border-radius: 10px;
        background-color: #F2F2F2;
        width: 250px;
        height: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        &:hover{
            background-color: #9256dc65 ;
        }
    }
}