@import "./variables";
.fa-heart{
    font-size: 30px;
}

.icone{
    position: relative;
    right: 20px;
}
.restaurant_coeur{
    position: relative;
    right: 20px;
}

.fa-regular{
    position: absolute;
}
.remplissage{
    opacity: 0;
    color: transparent;
    position: relative;
}

.remplissage:hover{
    opacity: 1;
    background-clip: text;
    background-image: linear-gradient(0deg,$couleur-primaire,$couleur-secondaire);
    transition: all 0.5s ease-in-out;
    transform: scale(1);
}




