@import "./variables";
.fa-heart{
    font-size: 25px;
}

.color{
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(0deg,$couleur-primaire,$couleur-secondaire);
    opacity: 0;
    position: absolute;
}

.black{
    position: absolute;
}

.black:hover{
    opacity: 0;
}
.color:hover{
    opacity: 1;
}
.icone{
    position: relative;
    right: 30px;
    bottom: 10px;
}
.restaurant_coeur{
    position: relative;
    right: 30px;
}

.essaie::after{
    content: "";
}

.essaie:hover{
    background-image: linear-gradient(0deg,$couleur-primaire,$couleur-secondaire);
}
