@import "./variables";
.fa-heart{
    font-size: 30px;
}

.icone{
    position: relative;
    right: 20px;
}
.restaurant_coeur{
    position: relative;
    right: 20px;
}

.coeur:hover::before{
    content: "\f004";
    color: #E470DB;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    transform: scale(1);
}


