@keyframes deroulant {
	0% {
		opacity: 0;
		transform: translateY(-40px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes loader {
    0% {
        opacity: 0%;
        visibility: hidden;
    }
    100% {
        opacity: 100%;
           }
}

.detail_complet:hover .detail_chekbox{
    transform: translateX(-55px);
    transition: 0.5s;
}

.detail_complet:hover span{
    transform: translateX(-60px);
    transition: 0.5s;
}

.detail_complet:hover .fa-circle-check{
    transform: rotate(355deg) scale(1.75);
    transition: 1s;
}


.boite_1{
    animation: deroulant 1s ease-in-out 0s 1 normal forwards;
}

.boite_1{
    animation: deroulant 1.2s ease-in-out 0s 1 normal forwards;
}
.boite_2{
    animation: deroulant 1.4s ease-in-out 0s 1 normal forwards;
}
.boite_3{
    animation: deroulant 1.6s ease-in-out 0s 1 normal forwards;
}
.boite_4{
    animation: deroulant 1.8s ease-in-out 0s 1 normal forwards;
}
.boite_5{
    animation: deroulant 2s ease-in-out 0s 1 normal forwards;
}
.boite_6{
    animation: deroulant 2.2s ease-in-out 0s 1 normal forwards;
}
.boite_7{
    animation: deroulant 2.4s ease-in-out 0s 1 normal forwards;
}
.boite_8{
    animation: deroulant 2.6s ease-in-out 0s 1 normal forwards;
}
.boite_9{
    animation: deroulant 2.8s ease-in-out 0s 1 normal forwards;
}

