.spinner {
    width: 88px;
    height: 88px;
    display: grid;
    border: 7px solid #0000;
    border-radius: 50%;
    border-right-color: #474bff;
    animation: spinner-a4dj62 2s forwards linear;
    position: fixed;
    vertical-align: middle;
    top: 45%;
    right: 40%;
 }
 
 .spinner::before,
 .spinner::after {
    content: "";
    grid-area: 1/1;
    margin: 3.5px;
    border: inherit;
    border-radius: 50%;
    animation: spinner-a4dj62 3s forwards;
 }
 
 .spinner::after {
    margin: 14px;
    animation-duration: 4s;
 }
 
 @keyframes spinner-a4dj62 {
    
    0%{
        opacity: 1;
    }
    100% {
       transform: rotate(3turn);
       opacity: 0;
    }
 }