.button{
    display: flex;
    justify-content: center;
    margin: 20px;
    input {
        border: none;
        background-image: linear-gradient(0deg,#9356DC,#FF79DA );
        color: white;
        font-size: 18px;
        border-radius: 25px;
        text-align: center;
        height: 50px;
        width: 250px;
    }
}

._menu{
    >input{
        border: none;
        background-image: linear-gradient(0deg,#9356DC,#FF79DA);
        color: white;
        font-size: 18px;
        border-radius: 25px;
        text-align: center;
        height: 50px;
        width: 250px;
        input:hover{
            background-image: linear-gradient(0deg,#9256dc8e,#ff79d988);
        }
    }
}


