
@import "../abstract/variables";
.proposition{
    display: flex;
    flex-direction: column;
    h2{
        font-family: 'Shrikhand', cursive;
    }

    img{
        height: 250px;
        object-fit: cover;
    }

    .plan{
        background-color: #F2F2F2;
        border-radius: 25px 25px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: -25px 0px 0px 0px;
        .titre{
            display: flex;
            justify-content: flex-start;
            width: 90%;
            >p{
            position: relative;
            &:before{
                content: ""; 
                position: absolute; 
                width: 50%; 
                margin-top: 20px;
                border-bottom: 3px solid $couleur-tertiaire;
            }
            }    
        }
 
    }

    .packshot{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }
}

.detail_carte{
    display: flex;
    flex-direction: column;
    width: 100%;
}
    
.fa-circle-check{
    color: white;
}

.detail_complet{
    display: flex;
    background-color: white;
    border-radius: 15px;
    justify-content: space-between;
    overflow: hidden;
    box-shadow: 4px 4px 12px -3px rgba(0,0,0,0.75);
    margin: 10px 30px 10px 30px;
}

.composition{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    >h4{
        margin-top: 5px;
        margin-left: 10px;
    }
    >p{
    margin: 5px 0px 2px 10px;
    }
    .test{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
.detail_plus{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.anim{
    display: flex;
    justify-content: space-around;
    >span{
        display: flex;
        align-items: flex-end;
        margin: 0px 20px 5px 5px;
    }
}

.detail_chekbox{
    background: $couleur-tertiaire;
    cursor: pointer;
    height: auto;
    border-radius: 0px 10px 10px 0px;
    padding: 25px 20px 25px 20px;
    margin-right: -60px;
}


@media screen and (min-width: 994px) {

    .detail_carte{
        display: flex;
        flex-direction: row;
    }

    .detail_complet{
        width: 25%;
    }
    .titre{
        margin-left: 50px;
    }

    .quatre{
     flex-wrap: wrap;
    }

    .special{
        margin-right: 1px;
    }
    
}